.schools {
    background-color: var(--cor-branco);
    font-family: var(--fonte-texto);
    padding: 40px 0px;
}

.schools__image {
    text-align: center;
    margin: 0px 0px 30px 0px;
}

.schools__image img {
    width: 80%;
    max-width: 750px;
    height: auto;
    display: inline-block;
    border-radius: 8px;
}

.schools__content h2 {
    color: var(--cor-azul1);
    font-size: 32px;
    font-weight: 700;
    margin: 0px 0px 20px 20px;
}

.schools__content p {
    color: var(--cor-azul2);
    font-size: 16px;
    line-height: 1.6;
    margin: 0px 20px 15px 20px;
}

.schools__content strong {
    font-weight: 700;
}

.schools__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.schools__button-link {
    color: var(--cor-azul2);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid var(--cor-azul1);
    padding: 15px 30px;
    border-radius: 10px;
    gap: 16px;
    width: 50%;
}

.schools__button-link:hover {
    background-color: var(--cor-azul1);
    color: var(--cor-branco);
}