footer {
    text-align: center;
    margin: 50px 0px 30px 0px;
    padding: 0px 50px;
}

.footer__copyright {
    color: var(--cor-preto);
    font-family: var(--fonte-texto);
    font-size: 14px;
    font-weight: 500;
}
