/* =====================================
   MOBILE
===================================== */

.hero {
    height: 50vh;
    background-image: url(../img/imagem1.JPG);
    background-size: auto 100%;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    padding: 150px 0px 0px 20px;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45); /* escurece imagem */
}

.hero__content {
    position: relative; /* fica acima do overlay */
    z-index: 2;
    max-width: 600px;
}

.hero h1 {
    color: var(--cor-branco);
    font-size: 32px;
    font-family: var(--fonte-texto);
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}

/* =====================================
   TABLET
===================================== */

@media (min-width: 768px) {
    .hero {
        height: 60vh;
        background-size: cover;
    }

    .hero__content {
        padding-left: 30px;
    }

    .hero h1 {
        font-size: 40px;
    }
}

/* =====================================
   DESKTOP
===================================== */

@media (min-width: 1024px) {
    .hero {
        height: 70vh;
        background-size: cover;
    }

    .hero__content {
        max-width: 800px;
        padding: 50px 0px 0px 30px;
    }

    .hero h1 {
        font-size: 48px;
    }
}


/* =====================================
   FULLSCREEN / LARGE SCREENS
===================================== */

@media (min-width: 1440px) {
    .hero {
        height: 100vh;
        background-size: cover;
    }

    .hero__content {
        max-width: 1000px;
        padding: 100px 0px 0px 60px;
    }

    .hero h1 {
        font-size: 72px;
    }
}
