.infos {
    background-color: var(--cor-azul1);
    color: var(--cor-branco);
    font-family: var(--fonte-texto);
    padding: 40px 0px;
}

.infos-text {
    color: var(--cor-bege);
}

.infos-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.infos-text h2 {
    font-size: 28px;
    font-weight: 700;
}

.infos-text p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0px 20px 15px 20px;
}

.infos-lista {
    max-width: 700px;
    margin: 40px auto;
}

.infos-lista h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0px 0px 20px 20px;
}

.infos-lista ul {
    list-style: none;
    padding: 0;
    margin: 0px 0px 0px 20px;
}

.infos-lista li strong {
    font-weight: 700;
}

.infos-lista li {
    list-style: none;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.6;
    position: relative;
    padding-left: 20px;
}

.infos-lista li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    width: 12px;
    height: 2px;
    background-color: var(--cor-branco);
}
